body {
	background-color: #D8D8D8;
	font-size: 12px;
	font-family: Verdana, Arial, Sans-Serif;
	padding: 0;
	margin: 0;
}

a { position: relative; }
  
a:link, a:visited {
	text-decoration: none;
	color: #0D3765;
} 

a:hover {
	text-decoration: underline;
}

#page {
	color: #3F3F3F;
	width: 100em;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1em;
	background-color: #fff;
	border-left:    1px solid #CCC;
	border-right:   1px solid #CCC;
	border-bottom:  1px solid #CCC;
}

#header, #vis {
	padding: 0; margin: 0;
  height: 16em !important;
  max-height: 16em !important;
	width: 100em;
	position: relative;
}

#header {
	background: #134A86 url("gradient.png") no-repeat top;
}

#logo {
    width: 15em;
	height: 15em;
    vertical-align: top;
	display: inline-block;
	background: transparent url("logo.png") no-repeat top;
}

#title {
    width: auto;
    height: auto;
    display: inline-block;
    padding: .5em;
    margin: .5em;
    vertical-align: middle;
    font-size: 4em;
    background: none;
    color: white;
}

#content {
	background-color: #ffffff;
	padding: 0;
	margin-top: 4em;
	padding-bottom: 4em;
	margin-left: 27em;
	width: 45em;
}

#content p, #content pre, #content td {
  	font-size: 1.2em;
}

#content ul, #content ol {
  	font-size: 12px;
}


#content table.quickref{
  width: 45em;
}

#content table.quickref td {
	font-size: 0.95em;  
}

#content table {
  border: 0;
}

#content table tr, #content table td {
  padding:0; margin:0;
}

#content table td {
  padding-right:  6px;  
  padding-bottom: 12px;  
}






#content textarea {
  font-family: monospace;
}

#content h1 {
  font-size: 1.7em;
}

#content h2 {
  font-size: 1.4em;
}

#content h3 {
  font-size: 1.2em;
}

#content ul {
  margin-left:0;
	padding-left:2em;
}

div#content { 
	min-height: 35em;
}

#sidebar {
  float: left;
	width: 20em;
	margin: 0;
	padding: 4.5em 2em 2em 3em;
}

#sidebar p, #sidebar li, #sidebar ol{
	font-size: 1.1em;
}

#sidebar ul { list-style:none; padding:0px; margin:0px; }
#sidebar li { margin:0px; margin-bottom: 0.2em;padding-left: 0.6em; }


#suptitle p, #suptitle ul {
	font-size: 1.1em;
	padding: 0.4em 0;
}

#suptitle p {
	float: left;
	padding-left: 1em;
}

#suptitle ul {
	text-align: right;
	padding-right: 1em;
}

#suptitle ul li {
	display: inline;
	margin-left: 1em;
}

#menu ul {
  position: absolute;
  width: 49em;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 24em;
	}

#menu ul li {
  position:relative;  
	display: inline;
	margin: 0 0.5em 0 0;
	font-size: 1.1em;
}

#menu ul,
#menu ul li a {
	padding: 0.5em 1.5em 0.6em;
	margin: 0 1.5em;
	}

#menu ul li a {
  position: relative;  
	font-size: 1em;
	color: #fff;
	margin: 0;
	}

#menu ul li a:hover {
	background: #333;
	text-decoration: none;
	}

#menu ul li .here a, #menu ul li .here a:hover {
	color: #134A86;  
	background: #fff;
	}


#footer {
	clear: both;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: center;
}

#footer a {
  margin: 1em;
}

#footer a:link, #footer a:visited {
	color: #777;
	text-decoration: none;
}

#footer a:hover {
	color: #FFF;
	text-decoration: underline;
}

.clear {
  clear: both;
}

